* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 30px 60px;
}

.cabecalho ul {
    display: flex;
    gap: 20px;
}

.cabecalho ul li a {
    color: #fff;
}

.cabecalho .menu{
    display: none;
}


.main {
    padding: 30px 60px;
}

.btn{
    width: 250px;
    border-color: rgb(77, 165, 42);
    border-radius: 4px;
    padding: 10px 20px;
    background-color: black;
    color: rgb(233, 227, 219);
    box-shadow: black 3px 3px 3px;
    cursor: pointer;
    text-align: center;
}

.btn:hover{ /*houver para selecionar troca de cor do botao*/
    background: #482bca;
}
.rodape{
    background: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .cabecalho nav {
        display: none;
    }
    .cabecalho .menu{
        display: flex;
    }  
}

.cabecalho nav ul li a:hover{
    background: #482bca;
}

@media screen and (max-width: 650px) {
    .main{
        padding: 10px;
    }
}

.selected{
    background: #c71111;
    color: rgb(28, 63, 63);
    
}
.main{
    background: linear-gradient(to right, #b83838, #fff, #000);
}

.main{
    background-image: url(../arteum-ro-bGlH3TIzGGE-unsplash\ \(1\).jpg);
    background-repeat: no-repeat; /*fundo nao repetir*/
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(30px);/*adicionar borrao no fundo da imagem*/
    
}

@keyframes balada{
    0%{
        color: rgb(127, 240, 255);
    }


        50%{
color: rgb(221, 219, 90);
        }
        100%{
color: rgb(68, 0, 255);
        }
    
}
.cabecalho h1{
    animation: movimentar infinite 2s ;
}

@keyframes movimentar {
    0%{
        
transform: translate(-300px);
    }
    100% {
transform: translate(0);

    }
    
}
 
    
    
    
  